
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lobster&display=swap');





nav.menu-nav ul li.btn {
    display: inline-block;
  
}


nav.menu-nav ul li.btn{
list-style-type:none ;
text-align: center;

}
nav.menu-nav ul li.btn a{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  

    color:black;
padding: 10px;
margin: 80px;
font-size: 20px;
text-decoration: none;
text-shadow: 5px;


}
nav.menu-nav ul li.btn:hover a {
  text-align: center;
    color: white;
    background-color: black;
    transition: 0.5s all;
   
}

/* **************IMAGE PRINCIPALE ************** */
#imagePrincipale {
    padding-top: 60px;
   background:url(media/\ -4.jpg);
    background-size:cover;
    height: 1123px;
    
    }
    h1 {
    font-family:'Koulen',cursive ;
    text-align: center;
    color: white;
    font-size: 6em;
    margin-top: 40px;
    text-shadow: 1px 3px 2px black;
    }
    #premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color:white;
    text-shadow: 1px 3px 2px black;
    
    }
    h3 {
    text-align: center;
    color: white;
    font-size: 3em;
    text-shadow: 1px 3px 2px black; }
    body{
        height: 1vh;
        margin: 0;
        padding: 0;
        background: #3b3646;
      }
      
      *{
        box-sizing: border-box;
      }
      
      .centerBox{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px
      }
      
      .categoryWrapper{
        height: 310px;
        width: 460px;
        background: url("http://ohlookawebsite.com/bathroomtestfull.jpg") no-repeat center center;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
      
      .categoryWrapper:after{
        position: absolute;
        top:0;
        left: 0;
        right:0;
        bottom: 0;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a29ca9+0,95909b+99 */
      background: #a29ca9; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #a29ca9 0%, #95909b 99%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #a29ca9 0%,#95909b 99%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #a29ca9 0%,#95909b 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a29ca9', endColorstr='#95909b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        content: '';
        opacity: 0;
          -webkit-transition: opacity 0.9s ease 0s; 
      }
      
      .categoryWrapper:hover:after{
        opacity: 0.4;
      }
      
      .categoryWrapper h1{
        color:white;
        font-size: 50px;
        letter-spacing: 2px;
        -webkit-transition: all 0.15s ease 0s; 
        position: relative;
        z-index: 10;
      }
      
      .categoryWrapper:hover h1{
        transform: translateY(-10px);
      }
      
      .categoryWrapper button{
        position: absolute;
        transform: translatey(60px);
        -webkit-appearance: none;
        border: none;
        background: none;
        color:white;
        width: 250px;
        height:50px;
        font-size: 20px;
        padding: 0;
        margin: 0;
        outline: none;
        z-index: 10;
      }
      
      .categoryWrapper button span{
        display: block;
        position: relative;
        line-height: 50px;
        height: 50px;
        cursor: pointer;
      }
      
      .categoryWrapper button > span:after{
        content:'';
        position: absolute;
        top:0;
        left: 50%;
        width: 20px;
        height: 0;
        
        border: 1px solid white;
        border-left: none;
        border-bottom: none;
        
            transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
      }
      
      .categoryWrapper:hover button > span:after{
        width: calc(50% - 1px);
        height: calc(100% - 2px);
        transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
      }
      
      .categoryWrapper button > span:before{
        content:'';
        position: absolute;
        top:0;
        right: 50%;
        width: 20px;
        height: 0;
        
        border: 1px solid white;
        border-right: none;
        border-bottom: none;
        
            transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
      }
      
      .categoryWrapper:hover button > span:before{
        width: calc(50% - 1px);
        height: calc(100% - 2px);
        transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
      }
      
      .categoryWrapper button > span > span:before{
        content:'';
        position: absolute;
        bottom:0;
        right: 0%;
        width: 1px;
        height: 1px;
        opacity: 0;
        
      }
      
      .categoryWrapper:hover button > span > span:before{
        opacity: 1;
        border-bottom: 1px solid white;
        width: calc(50%);
        height: 1px;
        transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
      }
      
      .categoryWrapper button > span > span:after{
        content:'';
        position: absolute;
        bottom:0;
        left: 0%;
        width: 1px;
        height: 1px;
        opacity: 0;
        
      }
      
      .categoryWrapper:hover button > span > span:after{
        opacity: 1;
        border-bottom: 1px solid white;
        width: calc(50%);
        height: 1px;
        transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
      }
      
      .categoryWrapper button > span > span > span{
        transition: color 0.15s ease-out 0.3s;
        color: transparent;
      }
      
      .categoryWrapper:hover button > span > span > span{
        color:white;
      }
      
      .categoryWrapper button > span > span > span:after{
        position: absolute;
        top:0;left:0;right:0;bottom:0;
        color:#1f2e4d;
        content: attr(data-attr-span);
        width: 0%;
        height: 100%;
        background:white;
        white-space: nowrap;
        text-align: center;
        margin: auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        transition: width 0.2s;
      }
      
      .categoryWrapper button:hover > span > span > span:after{
        width: 100%;
      }
      /* ************* PRESENTATION ********* */
#presentation {
    background-color:lemonchiffon ;
    padding: 10px 0px 100px 0;
    } 
    #textIntro {
    padding: 0px 20%;
    
    
    
    }
    
    
    #prestations {
        display: flex;
        flex-wrap:wrap ;
        justify-content: space-between;
        padding: 30px 10%;
    
    
    }
    #imageblgr {
    
        background: url(media/Agencement\ Boulangerie\ Pâtisserie\ Chocolaterie\ Boulanger\ Patissier\ Chocolatier\ Rennes\ Nantes\ Angers\ Le\ Mans\ Creation.jpg) no-repeat fixed 50% 50%;
        height: 550px;
    text-align: center;
    
    
    
    }
    #blgr {
    
        font-family:'Koulen',cursive ;
        text-align: center;
        color: antiquewhite;
        font-size: 3em;
        margin-top: 40px;
        text-shadow: 1px 3px 2px black;
    
    }
    #sps {

background: url(media/Baklawa\ aux\ amandes\ et\ noisettes\ \(avec\ pâte\ Filo\)-2.jpg);
height: 400px;
text-align: center;
justify-content: space-between;

flex-wrap: wrap;


    }
    #spc {
        font-family:'Koulen',cursive ;
        text-align: center;
        color: antiquewhite;
        font-size: 6em;
        margin-top: 40px;
        text-shadow: 1px 3px 2px black;
     
    }
    #txt {
    
    font-family: 'Gloria Hallelujah' , cursive ;
    margin-top: 40px;
    height: 100px;
    color: black;
    size: 1000px;
    font-size: medium;
    font-size:   25px;
    
    
    
    }
    
    *{
        margin:0;
        padding:0;
      }
      
      .container{  padding-top: 20px;
        padding-bottom: 20px;}
      body{
        background-color:lemonchiffon;
      }
      
      .background-img{
        background-image: url("photo/Motif\ pour\ machine\ à\ broder\ _\ petit\ boulanger\ -\ Les\ mille\ et\ 1\ passions\ de\ Guyloup.jpg");
      height: 400px;
        width: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 5% auto;
        padding:20px;
        border: 1px solid lemonchiffon;
        border-radius: 4px;
        box-shadow: 0px 0px 5px darkgoldenrod;
        position: relative;
      }
      
      .content h2{ font-size:19px;}
      
      .box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
        background:lemonchiffon;
        box-sizing: border-box;
        overflow: hidden;
        box-shadow: 0 20px 50px rgb(23, 32, 90);
        border: 2px solid lemonchiffon;
        color: white;
        padding: 20px;
      }
      
 